/.vscode/
*.o
*.bin

*.exe
*.dll

*.vcd

*.gcda
*.gcno
*.gcov

*.log

imgui.ini

/emulator/emu
/verilog/obj_dir
/verilog/out
__pycache__/

/verilog/src/hex_memory_file.mem
/verilog/hex_memory_file.mem
/verilog/output.txt
/verilog/emulator
/verilog/emulator_fpga
/verilog/icebreaker.asc
/verilog/icebreaker.json
/verilog/icebreaker.log
/emulator/output.txt
/emulator/emu.data
/emulator/emu.html
/emulator/emu.js
/emulator/emu.wasm
/node_modules
