set_io -nowarn CLK        35
set_frequency CLK 12

set_io -nowarn LED1       26
set_io -nowarn LED2       27
set_io -nowarn LED3       25
set_io -nowarn LED4       23
set_io -nowarn LED5       21

set_io -nowarn BTN1       20
set_io -nowarn BTN2       19
set_io -nowarn BTN3       18
